<!DOCTYPE html>
<html lang="en">
  <body>
    <form action="/accounts/logout/" method="POST">
      {% csrf_token %}
      <input type="submit" value="Log out">
    </form>
    <br>
    <a href="/">Back to Front Page</a>

    <h2>Notes matching search "{{keyword}}":</h2>
    {% for note in notes %}
    <h4>{{note.time}}:</h4>
    {{note.body}}
    <form action="/remove/{{note.id}}/" method="POST">
      {% csrf_token %}
      <input type="submit" value="Delete">
    </form>
    {% endfor %}

    <h2>Search again: </h2>
    <form action="/search/" method="GET">
      <label for="keyword">Search Text:</label><br>
      <input type="text" id="keyword" name="keyword"}><br><br>
      <input type="submit" value="Search">
    </form>


  </body>
</html>
